/Day 1/Day 1/obj/Debug/net8.0/ref/Day 1.dll
/Day 1/Day 1/obj/Debug/net8.0/refint/Day 1.dll
/Day 1/Day 1/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Day 1/Day 1/obj/Debug/net8.0/apphost
/Day 1/Day 1/obj/Debug/net8.0/Day 1.AssemblyInfo.cs
/Day 1/Day 1/obj/Debug/net8.0/Day 1.AssemblyInfoInputs.cache
/Day 1/Day 1/obj/Debug/net8.0/Day 1.assets.cache
/Day 1/Day 1/obj/Debug/net8.0/Day 1.csproj.CoreCompileInputs.cache
/Day 1/Day 1/obj/Debug/net8.0/Day 1.csproj.FileListAbsolute.txt
/Day 1/Day 1/obj/Debug/net8.0/Day 1.dll
/Day 1/Day 1/obj/Debug/net8.0/Day 1.GeneratedMSBuildEditorConfig.editorconfig
/Day 1/Day 1/obj/Debug/net8.0/Day 1.genruntimeconfig.cache
/Day 1/Day 1/obj/Debug/net8.0/Day 1.GlobalUsings.g.cs
/Day 1/Day 1/obj/Debug/net8.0/Day 1.pdb
/Day 1/Day 1/obj/Debug/net8.0/Day 1.sourcelink.json
/Day 1/Day 1/obj/Day 1.csproj.nuget.dgspec.json
/Day 1/Day 1/obj/Day 1.csproj.nuget.g.props
/Day 1/Day 1/obj/Day 1.csproj.nuget.g.targets
/Day 1/Day 1/obj/project.assets.json
/Day 1/Day 1/obj/project.nuget.cache
/Day 1/Day 1/obj/project.packagespec.json
/Day 1/Day 1/obj/rider.project.restore.info
